{{ define "header" }} {{ partial "header" }} {{ end }} {{ define "main" }}

<main class="prose dark:prose-invert px-10 container">
  <header class="text-center mb-8 mt-20">
    <h1 class="text-5xl mb-1">Unsere Projekte</h1>
    <p class="my-0 text-gray3">
      Entdecken Sie unsere beeindruckenden Metallbau-Projekte und lassen Sie
      sich von unserer Handwerkskunst und Expertise überzeugen
    </p>
  </header>

  <div class="h-3"></div>

  <ul class="grid sm:grid-cols-4 grid-cols-1 grid-rows-4 gap-4">
    {{ range .Pages }}
    <li class="list-none p-0">
      {{ partial "card" (dict "context" . "img" (print .RelPermalink
      "img/cover.webp")) }}
    </li>
    {{ end }}
  </ul>
</main>

{{ end }} {{ define "footer" }} {{ partial "footer" }} {{ end }}
