<!DOCTYPE html>
<html class="dark">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lilita+One">

    {{ if .Site.IsServer }}
        {{ $seed := "weqklrjfmnk213409ufasdfhnlk3j4bladsfsl" }}
        {{ $random := delimit (shuffle (split (md5 $seed) "" )) "" }}
        {{ $style := resources.Get "css/main.css" | resources.PostCSS | resources.ExecuteAsTemplate (printf "tailwind.dev.%s.css" $random) $random }}
        <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{ else }}
        {{ $style := resources.Get "css/main.css" | resources.PostCSS | resources.Minify }}
        <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{ end }}
    <title>{{ .Page.Title }}</title>
    <link rel="shortcut icon" href="/img/logo.svg" type="image/x-icon">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0X79RZGP9M"></script>
    <script>
      if (document.location.hostname == "metallbau-steimer.de") {
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-0X79RZGP9M');
      }
    </script>

  </head>
  <body>
    <global-data 
    permalink="{{ .Permalink }}" 
    next="{{with .PrevInSection}}{{.Permalink}}{{end}}" 
    prev="{{with .NextInSection}}{{.Permalink}}{{end}}">
  </global-data>

    {{ block "header" . }}
    <!-- navbar -->
    {{ end }}
    {{ block "main" . }}
      <!-- main -->
    {{ end }}
    {{ block "footer" . }}
      <!-- footer -->
    {{ end }}


    </div>

  </body>
</html>