<article
  class="max-w-sm overflow-hidden shadow-xl bg-blue-500 y-6 hover:scale-105 rounded-xl transition-transform ease-in-out duration-500"
>
  {{ $img := cond (isset . "img") .img (print .context.RelPermalink
  "img/cover.webp") }}

  <a href="{{ .context.RelPermalink }}">
    <img
      class="w-full m-0 mb-1 rounded-xl"
      src="{{ $img }}"
      alt="{{ .context.Title }}"
    />
    <section class="p-5">
      <h4>{{ .context.Title }}</h4>
      <p class="text-gray mt-1 font-light">{{ .context.Description }}</p>
    </section>
  </a>
  <div class="mt-3 flex flex-wrap gap-1">
    {{ range .context.Params.tags }}
    <a class="tag text-sm px-0.5" href="/tags/{{ . }}">
      <span> #{{ . }} </span>
    </a>
    {{ end }}
  </div>
</article>
