<nav>
  <div
    class="px-2 border-b-2 border-slate-600 w-full h-24 flex justify-between items-center"
  >
    <a href="/">
      <div class="hidden md:flex logo">
        <button class="font-bold">Metallbau Steimer</button>
      </div>
    </a>
    <a href="/">
      <div
        class="relative p4 mt-11 bg-white border-black border-4 rounded-full shadow-lg"
      >
        <img class="w-32" src="/img/logo.svg" />
      </div>
    </a>

    <div class="flex gap-8">
      <a href="/team">
        <div class="flex items-center">
          <!-- <img src="/img/logo/user-group.svg" class="w-6" /> -->
          <span class="text-base md:text-xl font-bold hover:text-orange-400"
            >Unser Team</span
          >
        </div>
      </a>
      <a href="/projects">
        <div class="flex items-center">
          <!-- <img src="/img/logo/wrench-screwdriver.svg" class="w-6" /> -->
          <span class="text-base md:text-xl font-bold hover:text-orange-400"
            >Projekte</span
          >
        </div>
      </a>
    </div>
  </div>
</nav>
