{{ define "header" }} {{ partial "header" }} {{ end }} {{ define "main" }}

<div class="w-full">
  <img
    id="banner"
    class="hidden md:block w-full"
    src="/img/banner_small.webp"
  />
  <img
    id="banner"
    class="block md:hidden w-full"
    src="/img/banner_mobile.webp"
  />
</div>

<!-- Projects -->
<div class="flex flex-col items-center mt-12">
  <span class="text-2xl break-words font-semibold"> Unsere Projekte </span>
  <div class="w-16 p-2 border-b-4 mt-2 mb-6 border-gray-600"></div>
  <div>
    <ul
      class="grid sm:grid-cols-4 grid-cols-1 grid-rows-1 gap-4 items-stretch p-5"
    >
      {{ range where .Site.Pages "Type" "eq" "projects"}} {{ if not (in
      .RelPermalink "/projects/") }}
      <li class="list-none p-0">
        {{ partial "blogpost" (dict "context" .Page)}}
      </li>
      {{ end}} {{ end}}
    </ul>
  </div>
</div>

<!-- Services -->
<div class="flex flex-col items-center mt-6 p-6 bg-gray-200">
  <span class="text-2xl break-words font-semibold">Leistungen </span>
  <div class="w-16 p-2 border-b-4 mt-2 mb-6 border-gray-600"></div>
  {{ partial "services.html"}}
</div>

<!-- Contact -->
<div class="flex flex-col items-center mt-12 p-6">
  <span class="text-2xl break-words font-semibold"> Kontaktieren Sie uns </span>
  <div class="w-16 p-2 border-b-4 mt-2 mb-6 border-gray-600"></div>
  <div class="flex justify-around flex-wrap md:flex-nowrap">
    <!-- Map -->
    <a
      href="https://www.google.com/maps/place/Stephan+Steimer+Metallbau/@48.0337639,11.927828,14z/data=!4m6!3m5!1s0x479dfeaea1ae9e21:0x88755b325daa6673!8m2!3d48.02265!4d11.93114!16s%2Fg%2F11btln6v1y"
    >
      <img class="w-[450px] rounded-m shadow-lg" src="/img/map.jpg" />
    </a>
    <div class="flex flex-col justify-center p-2 font-semibold text-center">
      <div class="mb-6 flex flex-col justify-center items-center">
        <p>Lindenstraße 17</p>
        <p>85567 Bruck</p>
        <button
          class="rounded-lg border-black border-2 flex items-center p-2 hover:bg-gray-600 transition ease-in duration-200"
        >
          <img class="w-4 ml-1" src="/img/logo/map-pin.svg" />
          <a
            href="https://www.google.com/maps/place/Stephan+Steimer+Metallbau/@48.0337639,11.927828,14z/data=!4m6!3m5!1s0x479dfeaea1ae9e21:0x88755b325daa6673!8m2!3d48.02265!4d11.93114!16s%2Fg%2F11btln6v1y"
            >In GoogleMaps öffnen</a
          >
        </button>
      </div>
      <div class="flex items-center justify-center">
        <img class="w-4 ml-1" src="/img/logo/at.svg" />
        <a href="mailto:metallbausteimer@googlemail.com"
          >metallbausteimer@googlemail.com</a
        >
      </div>
      <div class="flex items-center mb-6 justify-center">
        <img class="w-4 ml-1" src="/img/logo/phone.svg" />
        <a href="tel:0172 8486050">0172 8486050</a>
      </div>
      <div class="flex items-center justify-center">
        <img class="w-6 ml-1" src="/img/logo/clock.svg" />
        <p class="text-xl">Öffnungszeiten</p>
      </div>
      <p class="">Montag-Donnerstag: 8-17 Uhr</p>
      <p class="">Freitag: 8-12 Uhr</p>
    </div>
  </div>
</div>

{{ end }} {{ define "footer" }} {{ partial "footer" }} {{ end }}
